---

- name: Enable EPEL
  yum:
    name: epel-release
    state: present
  when: ansible_os_family == "RedHat"

- name: Install borgbackup
  package:
    name: "{{ borgbackup_system_package_name }}"
    state: present

- name: Remove upstream version
  file:
    name: /usr/local/bin/borgbackup
    state: absent
