[Unit]
Description=Backup using 'borgbackup'
After=borgbackup-tasks.service
Wants=borgbackup-tasks.service

[Service]
User={{ borgbackup_user }}
ExecStart={{ borgbackup_executable }} create --verbose --stats --compression lz4 --patterns-from {{ borgbackup_home }}/config/patterns ::{now}
EnvironmentFile={{ borgbackup_home }}/config/environment
Type=oneshot
AmbientCapabilities=CAP_DAC_READ_SEARCH
ProtectSystem=full
PrivateTmp=true
PrivateDevices=true
