[Unit]
Description=Backup using 'borgbackup'
After=borgbackup-tasks.service
Wants=borgbackup-tasks.service

[Service]
User={{ borgbackup_user }}
ExecStart={{ borgbackup_executable }}{% if borgbackup_remote_ratelimit %} --remote-ratelimit={{ borgbackup_remote_ratelimit }}{% endif %} \
  create --verbose --stats --compression lz4 --noatime \
  --patterns-from {{ borgbackup_home }}/config/patterns \
  --exclude-from {{ borgbackup_home }}/config/excludes \
  ::{now}
EnvironmentFile={{ borgbackup_home }}/config/environment
Type=oneshot
{% if borgbackup_use_cap_dac_read_search %}
AmbientCapabilities=CAP_DAC_READ_SEARCH
{% endif %}
ProtectSystem=full
PrivateTmp=true
PrivateDevices=true
