BORG_REPO="{{ borgbackup_repository }}"
BORG_PASSPHRASE="{{ borgbackup_passphrase }}"
BORG_RSH="ssh -i {{ borgbackup_home }}/config/id_ssh_ed25519 -o UserKnownHostsFile={{ borgbackup_home }}/config/known_hosts -o StrictHostKeyChecking={{ borgbackup_hostkey_checking }}"
