---

name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  ROLE_NAME: apollo13.borgbackup

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        molecule-distro:
          - "centos:7"
          - "centos:8"
          - "ubuntu:18.04"
          - "ubuntu:20.04"
          - "debian:buster"
          - "fedora:33"

    env:
      MOLECULE_DISTRO: ${{ matrix.molecule-distro }}

    steps:
      - name: Configure variables
        run: echo "::set-output name=checkout_path::$ROLE_NAME"
        id: config

      - uses: actions/checkout@v2
        with:
          path: ${{ steps.config.outputs.checkout_path }}

      - uses: actions/setup-python@v1

      - name: Install dependencies
        run: python -m pip install molecule[ansible,docker,test,lint]

      - name: Molecule test
        run: |
          cd $ROLE_NAME
          molecule test
